*{
    margin: 0;
}
.wrapper{
    margin: 40px auto;
    width: 1170px;
    height: 622px;
    border: 1px solid gray;
    padding: 0;
}
.wrapper__header{
    width: 1170px;
    height: 150px;
    font-family: Raleway;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
.wrapper__line{
    margin: 0 auto;
    width: 170px;
    border:1px solid #EC7979;
}
.wrapper__article{
    margin: 0 auto;
    margin-top: 40px;
    width: 1169px;
    display:flex;
    justify-content: center;
    font-family: Raleway;
}
/* .wrapper__button{
    width: 370px;
    height: 58px;
    background: #EC7979;
   
   
} */
.wrapper__conteiner{
    margin-top: 112px;
    padding: 0;
    display: flex;
    justify-content: space-between;

}
.conteiner__sector{
height: 270px;
}
.sector__input{
    width: 571px;
    height: 38px;
}
.textarea{
    width: 569px;
    resize: none;
}
.sector1{
    display: flex;
}
.input1{
    align-self: flex-start;
}
.input2{
    align-self: center;

}
.input3{
    align-self: flex-end;
}
