.layout{
    width:1170px;
    height:665px;
    border: 1px solid brown;
    margin:0 auto; 
}
.text{
    width:1170px;
    height:150px;
    font-size: 36px;
    font-family:Raleway;
    border: 1px solid white;
}
.line{
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    margin:  auto;
}
.text2{
    width: 1169px;
    height:21px;
    font-size: 18px;
    font-family:Raleway;

    margin: 40px auto;
}
.container {
    display:flex;
    align-items: center;
    justify-content:center;
    
    margin: 0 auto;
}
.blok{
    float:left;
    margin:0 110px;
    
}
.container2{
    display:flex;
   width:1169px;
   height: 70px;
   margin: 0 auto;

}
.text3{
    width: 300px;
    height: 70px;
    font-size: 24px;
    font-family:Open Sans;
    color:black;
    float:left;
    margin:0 130px;

}
.container3{
    display:flex;
   justify-content:center;
}
.text4{
    flex-basis: 0;
    flex-grow: 1;
    width: 370px;
    height: 180px;
    margin:0 10px;
    font-size: 18px;
    font-family:Raleway;
    color:black;
}








