*{
    margin: 0;
}
.fullscreen{
    height: 900px;
    width: 100%;
    background: #F5F5F5 ;
    margin: 0 auto;
}
.fullscreen__wrapper{
    margin:0px auto;
    background: #F5F5F5;
    width: 1508px;
    height: 900px;
}
.header{
    width: 1170px;
    height: 150px;
    margin:0 169px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family: Raleway;
    font-size: 36px;
}
.wrapper__line{
    margin: 0 auto;
    width: 170px;
    border: 1px solid #EC7979;
}
.wrapper__article{
    margin: 0 auto;
    margin-top: 40px;
    width: 1169px;
    height: 21px;
    font-family: Raleway;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.conteiner{
    height: 510px;
    width: 1170px;
    margin:0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.conteiner__blok{
    height: 510px;
    width: 370px;
    display: flex;
    flex-direction: column;
}
.blok__text{
    width: 370px;
    height: 50px;
    border: 1px solid #F5F5F5;
    background: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#86878B;
    font-size: 18px;
    font-family: Raleway;
}
.text1{
    height: 60px;
    background: #333333;
    color:#FFFFFF;
    font-size: 24px;
    font-family: Open Sans;
}
.text2{
    height: 100px;
    background: #333333;
    color:#FFFFFF;
    font-size: 36px;
    font-family: Open Sans;
}
.text3{
    background: #333333;
    color:#86878B;
    font-size: 18px;
}
.blok1:hover{
    position: relative;
    bottom: 20px;
    box-shadow: 0 4px 10px #33333333;
}
.blok2:hover{
    position: relative;
    bottom: 20px;
    box-shadow: 0 4px 10px #33333333;
}
.blok3:hover{
    position: relative;
    bottom: 20px;
    box-shadow: 0 4px 10px #33333333;
}