*{
    margin: 0;
}
.headerblack{
    margin: 0px auto;
    width: 100%;
    height: 75px;
    background: black;
    position: fixed;
    z-index: 10;
}
.background{
    margin: 0 auto;
    width: 1510px;
    height: 1026px;
    background: url(../images/image.jpg);
    position: relative;
}
.footerblack{
    margin: 0 auto;
    width: 1510px;
    height: 140px;
    background-color: #F8EFEF;
    position: relative;
}
.headerblack__links{
    position: absolute;
    left: 770px;
    width: 570px;
    height: 75px;
    background: black;
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;
}
.background__opacity{
    width: 1510px;
    height: 1026px;
    background: #00000080;
}
.links__link{
    width: 114px;
    height: 75px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.links__link:hover{
    background: #EC7979;
}
.headerblack__logo{
    width: 183px;
    height: 75px;
    position: absolute;
    left: 115px;
    font-family: Open Sans;
    display: flex;
    align-items: center;
    font-size: 51px;
    color: white;
}
.logo__color{
    color:#EC7979;
}

.logo_2{
    width: 270px;
    height: 100px;
    position: absolute;
    left: 170px;
    top: 283px;
    font-family: Open Sans;
    display: flex;
    align-items: center;
    font-size: 102px;
    color: white;
}
.background__description{
    position: absolute;
    top: 444px;
    left: 170px;
    width: 670px;
    height: 168px;
    color:white;
    font-size: 48px;
    font-family: Raleway;
    font-weight: 600;
}
.background__line{
    position: absolute;
    height: 0px;
    width: 170px;
    border:0.5px solid #FFFFFF;
    top: 657px;
    left: 170px;
    opacity: 0.5;
}
.background__title{
    width:270px;
    height: 42px;
    position: absolute;
    left: 170px;
    top: 699px;
    font-family: Raleway;
    font-size: 18px;
    color: white;
}
.background__button{
    position: absolute;
    width: 270px;
    height: 58px;
    top: 783px;
    left: 170px;
    background: none;
    border: 1px solid white;
    color: white;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
}
.footerblack__socialmedia{
    position: absolute;
    width: 470px;
    height: 60px;
    left: 170px;
    font-family: Open Sans;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.footerblack__title{
    position: absolute;
    width: 470px;
    height: 42px;
    font-family: Raleway;
    top: 78px;
    left: 170px;
}
.footerblack__images{
    position: absolute;
    width: 670px;
    height: 70px;
    top:35px;
    left:670px;
    display: flex;
    justify-content: space-between;
}
.images__image{
    border: none;
    outline: none;
}
.newheader{
    margin: 40px auto;
    width: 1510px;
    height: 442px;
    border: 1px solid gray;
    background: url(../images/headerbg.jpg);
    position: relative;
    display: flex;
    justify-content: center;
}
.newheader__opacity{
    position: absolute;
    width: 1510px;
    height: 442px;
    background: #00000080;
}
.newheader__title{
    position: absolute;
    top:40px;
    width: 1170px;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-size: 36px;
}
.newheader__line{
    position: absolute;
    height: 0px;
    width: 170px;
    border:0.5px solid #FFFFFF;
    opacity: 0.5;
    margin: 0 auto;
    top: 190px;
}
.newheader__description{
    position: absolute;
    width: 1169px;
    top: 230px;
    font-size: 18px;
    font-family: Raleway;
    color: white;
    display: flex;
    justify-content: center;
}
.newheader__button{
    position: absolute;
    width: 270px;
    height: 58px;
    top: 324px;
    background: none;
    border: 1px solid white;
    color: white;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
}
.newfooter{
    width: 1510px;
    height: 164px;
    background: black;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.newfooter__arts{
    margin-top: 20px;
    width: 569px;
    height: 53px;
    display: flex;
    justify-content: space-between;

}
.newfooter__data{
    margin: 0 auto;
    width: 1169px;
    color: #FFFFFF80;
    font-family: Raleway;
    display: flex;
    justify-content: center;

} 

/* 8 */
.fullscreen{
    height: 900px;
    width: 100%;
    background: #F5F5F5 ;
    margin: 0 auto;
}
.fullscreen__wrapper{
    margin:0px auto;
    background: #F5F5F5;
    width: 1508px;
    height: 900px;
}
.header{
    width: 1170px;
    height: 150px;
    margin:0 169px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family: Raleway;
    font-size: 36px;
}
.wrapper__line{
    margin: 0 auto;
    width: 170px;
    border: 1px solid #EC7979;
}
.wrapper__article{
    margin: 0 auto;
    margin-top: 40px;
    width: 1169px;
    height: 21px;
    font-family: Raleway;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.conteiner{
    height: 510px;
    width: 1170px;
    margin:0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.conteiner__blok{
    height: 510px;
    width: 370px;
    display: flex;
    flex-direction: column;
}
.blok__text{
    width: 370px;
    height: 50px;
    border: 1px solid #F5F5F5;
    background: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#86878B;
    font-size: 18px;
    font-family: Raleway;
}
.text1{
    height: 60px;
    background: #333333;
    color:#FFFFFF;
    font-size: 24px;
    font-family: Open Sans;
}
.text2{
    height: 100px;
    background: #333333;
    color:#FFFFFF;
    font-size: 36px;
    font-family: Open Sans;
}
.text3{
    background: #333333;
    color:#86878B;
    font-size: 18px;
}
.blok1:hover{
    position: relative;
    bottom: 20px;
    box-shadow: 0 4px 10px #33333333;
}
.blok2:hover{
    position: relative;
    bottom: 20px;
    box-shadow: 0 4px 10px #33333333;
}
.blok3:hover{
    position: relative;
    bottom: 20px;
    box-shadow: 0 4px 10px #33333333;
}

/* 5 */

.interview {
    margin: 50px auto;
    width: 992px;
    height: 509px;

}

.interview__header {
    width: 992px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Raleway;
    font-weight: 600;
}

.interview__line {
    margin: 0 auto;
    width: 142px;
    border: 1px solid #EC7979;
}

.interview__title {
    width: 992px;
    height: 16px;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    font-family: Raleway;
    font-size: 14px;
}

.interview__cards {
    margin: 0 auto;
    margin-top: 32px;
    width: 992px;
    height: 307px;

    display: flex;
    justify-content: space-between;
}

.cards__card {
    width: 317px;
    height: 307px;

    display: flex;
    flex-direction: column;

}

.card__blok {
    width: 317px;
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-self: flex-start;
}


.blok__article {
    width: 317px;
    height: 80px;
    font-family: Raleway;
    font-size: 14px;
    padding: 20px;
}

.blok__art {
    width: 317px;
    height: 103px;

    display: flex;
    align-items: end;
}
.card__trio{
width: 140px;
height: 26px;
display: flex;
justify-content: center;

}
.trio__img {
    left: 86px;
    position: relative;
}

.art__description {
    display: flex;
    justify-content: space-between;
    height: 67px;
    width: 317px;
}

.description__name {
    width: 203px;
    height: 67px;

}

.name__name {
    font-family: Open Sans;
    font-size: 18px;
}

.name__job {
    margin-top: 25px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
}
.card__trio::before{
    content: '';
    width: 0;
    height: 0;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:25px solid #E2E2E2;

}
/* 6 */
.wrapper{
    margin: 40px auto;
    width: 1170px;
    height: 622px;
    padding: 0;
}
.wrapper__header{
    width: 1170px;
    height: 150px;
    font-family: Raleway;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
.wrapper__line{
    margin: 0 auto;
    width: 170px;
    border:1px solid #EC7979;
}
.wrapper__article{
    margin: 0 auto;
    margin-top: 40px;
    width: 1169px;
    height: 21px;
    display:flex;
    justify-content: center;
    font-family: Raleway;
    color: #86878B;
}
.wrapper__box{
    width: 100%;
    margin-top: 112px;
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.box__inputs{
    height: 100%;
    width: 571px;
    display: flex;
    flex-direction: column;
}
.box__textarea{
    height: 100%;
    width: 569px;
}
.inputs__blok{
    width: 571px;
    height: 90px;
    color: #BDBDBD;
    
}
.inputs__input{
    width: 571px;
    height: 38px;
    border: 1px solid white;
    border-bottom: 1px solid #BDBDBD;
} 
input::placeholder{
    color:#BDBDBD;
    text-align: start;
    font-family: Open Sans;
}
.textarea__textarea{
    width: 560px;
    height: 203px;
    border: 1px solid white;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
    font-size: 14px;
    font-family: Open Sans;
}
textarea::placeholder{
    color:#BDBDBD;
    font-size: 14px;
    font-family: Open Sans;
}
.wrapper__buttom{
    margin-top: -10px;
    height: 58px;
    width: 1170px;
    display: flex;
    justify-content: center;
}
.buttom__buttom{
    height: 58px;
    width: 370px;
    background: #EC7979;
    border: 1px solid #EC7979;
    text-align: center;
    font-size: 18px;
    color: white;
}
.table{
    position: absolute;
    width: 470px;
    height: 450px;
    border-radius: 10px;
    top: 283px;
    background: white;
    left: 870px;
}
.table__article{
    margin: 0 auto;
  
    width: 367px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Open Sans;
    color: #333333;
    font-weight: 900;
}
.inputs__blok2{
    margin-top: 40px;
    width: 470px;
    height: 200px;

    display: flex;
    flex-direction: column;
}
.blok2__blok2{
    width: 470px;
    height: 70px;
   
    display: flex;
    justify-content: center;
}
.blok2__input{
    width: 370px;
    height: 38px;
    border: 1px solid white;
    border-bottom: 1px solid #BDBDBD;
}
.table__button{
    width: 470px;
    height: 50px;
    margin-top: 67px;
    border-radius: 10px;
}
.button__button{
    width: 470px;
    height: 53px;
    border-radius: 0 0 10px 10px;
    background: #EC7979;
    color:white;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #EC7979;
}
.article__free{
    color:#EC7979; 
    padding: 0 10px;
}

/* ---------------dz2-------------------- */
.main{
    position: relative;
    margin: 0 auto;
    width: 1170px;
    height: 665px;

}
.main__header{
    width: 1170px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    font-family: Raleway;
    font-size: 36px;
}
.main__line{
    margin: 0 auto;
    width: 170px;
    border: 1px solid #EC7979;
}
.main__title{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 1169px;
    font-family: Raleway;
}
.main__conteiner{
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.conteiner__part{
    width: 370px;
    height: 383px;

}
.part__image{
    width: 170px;
    height: 170px;
}
.part__part{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
}
.part__header{
    margin-top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Open Sans;
}
.part__description{
    margin: 0;
    display: flex;
    width: 100%;
    height: 105px;
    font-size: 18px;
    font-family: Raleway;
    color: #000000;
    font-weight: 600;

}

/* --------------------------------------------------------------------- */


/* ------------------------------------------------------------------ */

.tab-header{
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    width: 1170px;
    justify-content: center;
}
.tab-wrapper_tab-action{
   display: none;
}

.tab-wrapper__title{
    width: 203px;
    height: 40px;
    font-size: 18px;
    font-family: Open Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid white;
}
.label1{
    position: absolute;
    top: -40px;
}
.label2{
position: absolute;
top: -40px;
left: 203px;
}
.label3{
position: absolute;
left: 406px;
top: -40px;
}
.tab-wrapper{
    position: relative;
    width: 1170px;
    height: 540px;
    border: 1px solid #C6CBCD;
    display: blok;
    z-index: 0;
} 
.tab-wrapper__image{
    position: absolute;
    right: 0px;
    width: 470px;
    height: 540px;
}
.image__image1{
    height: 100%;
    width: 100%;
    display: block;
}
.image__image2{
    height: 100%;
    width: 100%;
    display: none;
}
.image__image3{
    height: 100%;
    width: 100%;
    display: none;
}
.tab-wrapper__text1{
    position: absolute;
    width: 570px;
    height: 124px;
   
    left: 111px;
    font-family: Open Sans;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;

}
.tab-wrapper__text2{
    position: absolute;
    width: 570px;
    height: 210px;

    left: 111px;
    top: 150px;
    font-family: Raleway;
    font-size: 18px;
    color: black;
    font-weight: 600;

}
.button-tab{
    position: absolute;
    left: 111px;
    top: 400px;
    width: 270px;
    height: 58px;
    background: #EC7979;
    border: 1px solid #EC7979;
    color: white;
    font-size: 18px;
    font-family: Open Sans;
}
#tab1:checked ~ .label1{
    border: 1px solid #C6CBCD;
    border-bottom: white ;

}
#tab2:checked ~ .label2{
    border: 1px solid #C6CBCD;
    border-bottom: white ;
    
}
#tab3:checked ~ .label3{
    border: 1px solid #C6CBCD;
    border-bottom: white ;
}
#tab2:checked ~ .tab-wrapper .tab-wrapper__image .image__image1{
    display:none;   
}
#tab3:checked ~ .tab-wrapper .tab-wrapper__image .image__image1{
    display:none;   
}
#tab2:checked ~ .tab-wrapper .tab-wrapper__image .image__image2{
    display:block;   
}
#tab3:checked ~ .tab-wrapper .tab-wrapper__image .image__image3{
    display:block;   
}
