*{
    margin: 0;
}
.tab-wrapper{
    width: 1170px;
    height: 540px;
    margin:20px auto;
    border: 1px solid gray;
    border-radius: 5px 5px 0 0;
}
.tab-wrapper__title{
    width: 201px;
    height: 38px;
    background-color: white;
    border: 1px solid gray;
    float:left;
    margin:0px;
    border-radius: 5px 5px 0 0;
    color:gray;
}
.tab-wrapper_blok{
    width: 1170px;
    height: 500px;
    margin-top:21px;
    display: flex;
    justify-content: center;
}
.blok1{
    width:583px;
    height: 480px;
    margin:0;
    border-top: white;
    padding-left: 40px;
    padding-top:20px;
}
.blok2{
    width:583px;
    height:100%;
    margin:0;
    border-top: gray;
    padding-left: 120px;

}

.tab-wrapper_content{
    display: none;
    border:1px solid gray;
    padding:10px;  
}
#tab1:checked ~ .label1{
    border:1px solid white;
}
#tab2:checked ~ .label2{
    border:1px solid white;
}
#tab3:checked ~ .label3{
    border:1px solid white;

}
